<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="go-import" content="{{.Package}} git {{.Repo}}">
    <meta http-equiv="refresh" content="0;URL='{{.Repo}}'">
    <title>uRadical - {{.Name}}</title>
</head>
<body>
Redirecting you to the <a href="{{.Repo}}">project page</a>...
</body>
</html>